<div id="<%= dom_id friend %>">

<div class="col-md-10">
        <div class="h-100 p-5 text-black bg-light rounded-3">
          
          <%= friend.fname%> <%= friend.lname %> </h3>
          <%# <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
          <button class="btn btn-outline-light" type="button">Example button</button> %>
          <h4><%= friend.email %></h4>
          <h4><%= friend.phone %></h4>
          <h4><%= friend.twitter %></h4>        
        </div>
  </div>
</div>
